body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffc38f;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor general */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-banner {
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: 22px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #ffc38f;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

/* Alineación de íconos e inputs */
.form-group {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 10px; 
    background: rgba(255, 195, 143, 0.60);
    padding: 5px;
    border-radius: 12px;
}

/* iconos */
.logouser, .logokey {
    width: 30px;
    height: 30px;
    margin-left: 30px; 

}

/* inputs */
.form-group input {
    width: 250px;
    padding: 12px;
    border-radius: 12px;
    background: rgba(253, 221, 194, 0.6);
    border: 1px solid #cac4d0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #333;
    outline: none;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: #65558f;
    box-shadow: 0 0 5px rgba(101, 85, 143, 0.4);
}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: #65558f;
    color: white;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #4d4677;
}

.btn-secondary {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #cac4d0;
    color: #65558f;
    text-transform: uppercase;
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 1);
}

.register-text{
text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

/* Estilos para hacer que todo sea responsive */
@media (max-width: 600px) {
    .login-container {
        padding: 20px;
        width: 100%;
    }

    .login-banner {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .form-group input {
        padding: 10px;
        font-size: 14px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}
